#btn-label, #btn-fecha-label {
    display: none;
}

.menu__botao {
    background-image: url(../img/carrinho.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0.5em;
    position: fixed;
    left: 1%;
    top:  50%;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    transition: 100ms;
    z-index: 3;
    transition: 100ms;
}

.menu__botao:hover {
    left: 2%;
}

.menu__botao--click {
    display: none;
}

.menu__botao--fecha{
    background-image: url(../img/carrinho-fecha.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0.5em;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    transition: 100ms;
    z-index: 3;
    margin-right: 1em;
}

.menu__container--fecha {
    display: none;
}

.menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: var(--cor-fundo-menu);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
}

.menu__nav--item {
    padding: 1em;
}

