@import url(reset.css);
@import url(header.css);
@import url(menu.css);

@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

:root{
    /*fonte*/
    --fonte-printicpal: 'Pathway Gothic One', sans-serif;
    --fonte-tamanho-titulo: 2rem;
    --fonte-tamanho-subtitulo: 1.5rem;
    --fonte-tamanho-texto: 1rem;
    --fonte-tamanho-pq: 0.5rem;

    /*cores*/
    --cor-fonte-marrom-escuro: #1a0000;
    --cor-fundo-parchment: #ebd5b3;
    --cor-fundo-menu: #966F33;
}

.titulo {
    font-family: var(--fonte-printicpal);
    font-size: var(--fonte-tamanho-titulo);
    color: var(--cor-fundo-parchment);
}

.subtitulo {
    font-family: var(--fonte-printicpal);
    font-size: var(--fonte-tamanho-subtitulo);
    color: var(--cor-fundo-parchment);
}

.texto {
    font-family: var(--fonte-printicpal);
    font-size: var(--fonte-tamanho-texto);
    color: var(--cor-fundo-parchment);
}
