@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

:root{
    /*fonte*/
    --fonte-printicpal: 'Pathway Gothic One', sans-serif;
    --fonte-tamanho-titulo: 2rem;
    --fonte-tamanho-subtitulo: 1.5rem;
    --fonte-tamanho-texto: 1rem;
    --fonte-tamanho-pq: 0.5rem;

    /*cores*/
    --cor-fonte-marrom-escuro: #1a0000;
    --cor-fundo-parchment: #ebd5b3;
}

.titulo {
    font-family: var(--fonte-printicpal);
    font-size: var(--fonte-tamanho-titulo);
}

.subtitulo {
    font-family: var(--fonte-printicpal);
    font-size: var(--fonte-tamanho-subtitulo);
}

.texto {
    font-family: var(--fonte-printicpal);
    font-size: var(--fonte-tamanho-texto);
}
